*:*:{{ mdp_admin_db_name }}:{{ mdp_admin_db_user }}:{{ mdp_admin_db_password}}
*:*:{{ mdp_db_name }}:{{ mdp_db_user }}:{{ mdp_db_password}}
*:*:*:{{ postgres_repl_user }}:{{ postgres_repl_user_password }}
